# IDE-specific user folders
.vs/
.vscode/
.idea/

# notepad++ backup folder
nppBackup/

# Build folder
*[Bb]uild*/*
![Bb]uild/assets
![Bb]uild/engineShader
![Bb]uild/fonts
!*[Bb]uild*/scripts

# vim files
*.swp

